<div class="container" ng-controller="LaboratoriesController">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading-yellow">{{heading}}</h2>
        </div>
    </div>
    <div class="row">
        <div ng-class="lab.style" ng-repeat="lab in labs">
            <div class="turing-lab white">
                <h3>{{lab.name}}</h3>
                <p class="lead">@ {{lab.location}}</p>
                <div class="row lab-slots">
                    <div class="lab-slot" ng-class="style(lab.slots)" ng-repeat="slot in lab.slots">
                        <div class="lab-sphere">
                            <div class="lab-sphere-text vertical-center">
                                <h4>{{slot.name}}</h4>
                                <p>{{slot.content}}</p>
                                <p>{{slot.time}}</p>
                            </div>
                        </div>
<!--                         <div class="lab-prices" ng-if="slot.prices">
                            <h4>Session Prices</h4>
                            <div class="lab-price lab-price-left" price="slot.prices.left">
                            </div><div class="lab-price lab-price-right" price="slot.prices.right"></div>
                        </div> -->
                    </div>
                </div>
                    <div class="row" ng-if="lab.link">
                        <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
                            <a class="btn btn-lg btn-turing btn-margin col-xs-12" href="http://code.doc.ic.ac.uk">
                                {{lab.link}}
                            </a>
                        </div>
                    </div>
                    <div class="row" ng-if="lab.mail">
                        <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
                            <a class="btn btn-lg btn-turing btn-margin col-xs-12" href="mailto:info@turinglab.co.uk?Subject=Possible%20school" target="_top">
                                {{lab.mail}}
                            </a>
                        </div>
                        <div id="contact-us" class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-offset-0 col-xs-12">
                            if you would like us to come to your school, or to learn more about these sessions.
                        </div>
                    </div>
                </div>
<!--                 <div class="row lab-detail" ng-if="lab.about">
                    <h4>Session Prices</h4>
                    <p class="lead">{{lab.about}}</p>
                    <div class="col-md-12 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-6 col-xs-offset-3">
                        <p>{{lab.detail}}</p>
                    </div>
                </div> -->
            </div>
        </div>
</div>