<div id="page-top"></div>

<!-- Navigation -->
<nav ng-include="'views/navbar.html'"></nav>

<!-- Header Section -->
<header class="header-fixed" ng-include="'views/header.html'"></header>

<!-- Overview Section -->
<section id="overview" class="blue-section" ng-include="'views/overview.html'"></section>
<div class="page-break group-milton"></div>

<!-- Teaching Section -->
<section id="teaching" class="white-section" ng-include="'views/teaching.html'"></section>
<div class="page-break henry-help"></div>
<!-- Technology Section -->
<!-- <section id="technology" class="blue-section" ng-include="'views/technology.html'"></section> -->
<!-- <div class="page-break henry-help"></div> -->

<!-- Laboratories Section -->
<section id="laboratories" class="blue-section" ng-include="'views/laboratories.html'"></section>

<div class="page-break code-groups"></div>

<!-- Team Section -->
<section id="team" class="white-section" ng-include="'views/team.html'"></section>
<!-- <div class="page-break group-discussion"></div> -->

<div class="page-break imperial"></div>

<!-- FAQ Section -->
<!-- <section id="faq" class="white-section" ng-include="'views/faq.html'"></section> -->
<!-- <div class="page-break henry-minecraft"></div> -->

<!-- Contact Section -->
<section id="subscribe" class="blue-section" ng-include="'views/subscribe.html'"></section>

<!-- Video Grid Section -->
<!-- <section id="video" class="white-section" ng-include="'views/videos.html'"></section> -->

<!-- Clients Aside --><!-- class="clients" -->
<!-- <section id="clients" class="white-section" ng-include="'views/clients.html'"></section> -->
<!-- <div class="page-break happy-group"></div> -->

<!-- Footer -->
<!-- <footer id="footer" class="white-section" ng-include="'views/footer.html'"></footer> -->
